<div class="image-banner">
  <div class="relative">
    <img
      class="w-full  h-96 md:h-128 object-cover object-center"
      src="{{ section.settings.image | image_url: width: 1920}}"
      alt=""
    >
    <div class="image-banner-overlay absolute bg-black/30 w-full h-full t-0 l-0 flex justify-center items-center flex-col top-0">
      <h2 class="banner-text text-white text-center text-3xl md:text-6xl font-bold tracking-tight text-gray-900">
        {{ section.settings.heading }}
      </h2>
      <p class="text-white text-center mx-auto mt-6 max-w-xl text-sm md:text-lg leading-8 text-gray-600">
        {{ section.settings.subheading }}
      </p>
      {% if section.settings.button_text != blank %}
        <div class="section-button flex justify-center">
          <a
            class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold p-4 text-sm md:text-lg rounded inline-block mt-8 mx-auto"
            href="{{ section.settings.button_link }}"
          >
            {{- section.settings.button_text -}}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
