<div class="bg-white py-5">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto">
      <article class="article">
        <div class="relative isolate flex flex-col justify-end overflow-hidden rounded-lg bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
          <img
            src="{{ article.image.src | image_url: width: 1500}}"
            alt="{{ article.image.src.alt | escape }}"
            class="absolute inset-0 -z-10 h-full w-full object-cover"
          >
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
          <div class="absolute inset-0 -z-10 rounded-lg ring-1 ring-inset ring-gray-900/10"></div>

          <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
            <time datetime="{{ article.published_at }}" class="mr-8">
              {{- article.published_at | time_tag: format: 'date' -}}
            </time>
            <div class="-ml-4 flex items-center gap-x-4">
              <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                <circle cx="1" cy="1" r="1" />
              </svg>
            </div>
          </div>
          <h1 class="mt-3 text-lg sm:text-4xl font-semibold leading-6 text-white">
            <a href="{{ article.url }}" title="{{ article.title}}">
              <span class="absolute inset-0"></span>
              {{ article.title }}
            </a>
          </h1>
        </div>
        <div class="article-body my-12">
          {{ article.content }}
        </div>
      </article>
    </div>
  </div>
</div>

<style>
  .article-body p {
    margin-bottom:16px;
  }
  .article-body ol,.article-body ul {
    padding-left:20px;
  }
  .article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
    margin-top:16px;
    margin-bottom:16px;
  }

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
